*~
*_cache
*_files
*#
*#*
*.log
*.html
.Rhistory
resources/Fig*
*.woff2
*.out
*.aux
tut/_freeze
tut/site_libs
*.md
/resources/tidyr-1.png
/resources/veteran_typewriter.ttf
/resources/tidyr-0.png
/resources/tidyeval-1.png
/resources/tidyeval-0.png
/resources/strings-1.png
/resources/strings-0.png
/resources/rstudio-ide.png
