*~
*_cache
*_files
*#
*#*
*.log
*.html
.Rhistory
resources/Fig*
*.woff2
*.out
*.aux
tut/_freeze
tut/site_libs
*.md
/resources/tidyr-1.png
/resources/tidyr-0.png
/resources/tidyeval-1.png
/resources/tidyeval-0.png
/resources/strings-1.png
/resources/strings-0.png
/resources/rstudio-ide.png
pres/*.tex
pres/resources/10_pres_git_Test_repo*.*
pres/resources/Test_repo*.*
pres/resources/*_small.*
/resources/banner.png
/resources/banner2.png
/resources/base-r-1.png
/resources/base-r.png
/resources/data-import-0.png
/resources/data-import-1.png
/resources/data-transformation-0.png
/resources/data-transformation-1.png
/resources/factors.png
/resources/lubridate-0.png
/resources/lubridate-1.png
/resources/purrr-0.png
/resources/purrr-1.png
/resources/regex.png
/resources/rmarkdown-1.png
/resources/rmarkdown.png
/resources/rstudio-ide-1.png
/tut/35_bayesian_glm.old
/tut/junk.R
/tut/test.qmd
/site_libs/
*.dot
/pres/10_pres_git_Test_repo1.pdf
pres/resources/RStudio_GitAdd_combined.png